:root {
    --lightGray: #CACFD6;
    --azure: #D6E5e3;
    --mbGreen: #9fd8cb;
    --dLiver: #475b63;
    --pBlue: #13293d;
}

* {   
    font-family: 'Playfair Display SC', serif;
}


a,
h1,
h2,
h3,
p {
  height: fit-content;
  color: var(--pBlue);

}

p {
    margin: 0px 10px;
    font-family: 'Roboto', sans-serif;
}

a {
    height: 30px;
}

h3 {
    height: 30px;
}

footer {
    text-align: center;
    font-size: 20px;
}

main {
    width: fit-content;
    height: fit-content;
    margin-left: 21.5%;
    margin-bottom: 30px;
    

}

.about-cards {
   margin: 25px;
}

.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 18px;
    background: var(--mbGreen);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;

    transition: 0.5s ease;
  }

.card:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
}

.card-image {
    grid-area: image;
    background: url("../images/Kevin-avatar.png");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
    margin-bottom: -40px;
}

/* Analia's Avatar */
.card-image.analia {
    grid-area: image;
    background: url("../images/Analia-avatar.png");
    background-size: cover;
}

/* Ernest's Avatar */
.card-image.ernest {
    grid-area: image;
    background: url("../images/Ernest-avatar.png");
    background-size: cover;
}

.card-text {
    grid-area: text;
    margin: 25px;    
}

.card-text p {
    margin: 0px;
    color: black;
    font-size: 20px;
    border-radius: 8px;
    background: var(--azure);    
}

.card-text h3 {
    margin: 0px 0px 5px;
    font-size: 28px

}

.card-contact {
    grid-area: stats; 
    display: flex;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: var(--dLiver);
}

.card-contact .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: stretch;

    color: white;
    padding:10px;
}

.card-text {
    grid-area: text;
    margin: 25px;    
}
.navbar {
    height: 80px;
    background-color: var(--azure);
    width: auto;
    border-radius: 0px;
    margin-bottom: 10px;
}

.navbar a {
    text-decoration: none;
    font-family: 'Playfair Display SC', serif;
    font-size: 30px;
    height: fit-content;
    --bs-gutter-x:0px  
}

.mainTitle {
    margin: 0px 0px 30px 5px;    
    font-size: 60px;   
}

.subTitle {
    /* margin: 25px 30px 5px; */
    margin-right: 2%;
    font-size: 45px; 
    text-align: center; 
}

.text-box {
    background: var(--azure);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-size: 25px;
    width: fit-content;
}

/* Img icons */
#gitIcon {
    width: 75px;
}

#mailIcon {
    width: 55px;
}