:root {
  --lightGray: #cacfd6;
  --azure: #d6e5e3;
  --mbGreen: #9fd8cb;
  --dLiver: #475b63;
  --pBlue: #13293d;
  --whites:#F3F7F6;
  --ease: 0.5s ease;
}


* {
  /* border: 2px solid black; */
  margin: 0px 0px 0px 0px;
}






a,
h3,
p {
  height: fit-content;
  color: var(--pBlue);
}




a {
  margin: 0px 5px 0px 5px;
  text-decoration: none;
  border-radius: 0px;
  opacity: 0.5;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display SC", serif;
}
p {
  
  font-family: "Roboto", sans-serif;
}
canvas {
  width:920px !important;
  height:400px !important;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  background-color: #F3F7F6;
  margin-bottom: 10px;

}




/* Buttons */
.btn {
  position: absolute;
  width: 44px;
  height: 37px;
  left: 383px;
  top: 20px;
  background: #9FD8CB;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.27);
  border: none
}
.btn:hover {
  background: var(--mbGreen);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  border: none;
  opacity: 1;
}

.btn:active {
  background:var(--mbGreen);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  border: none;
}

.btn:focus {
  background: var(--mbGreen);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  border: none;
}

.form-control {
  position: absolute;
  width: 348px;
  height: 37px;
  left: 26px;
  top: 20px;
  background: #FFFFFF;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
}

.navbar {
  height: 80px;
  background-color: var(--azure);
  width: auto;
  border-radius: 0px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: sticky;
}
.navbar a {
  font-family: "Playfair Display SC", serif;
  font-size: 20px;
  height: fit-content;
  --bs-gutter-x: 0px;
  opacity: 0.8;
}

.navbar a:hover {
  border: none;
  opacity: 1;
}

.search {
  margin: 0px;
  margin-left: 10px;
  margin-top: 20px;
  position: relative;
  width: 379px;
  height: 345px;
  background:  var(--azure);
  width: 479px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.overview {
  height: 425px;
  margin-top: 20px;
  width: 1000px;
  background:  var(--azure);
  padding: 10px;
  margin-left: 0px;
  margin-right: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.mrkt {
  height: 425px;
  margin-top: 10px;
  width: 1000px;
  background:  var(--azure);
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.exp {
  height: 425px;
  margin-top: 10px;
  width: 1000px;
  background:  var(--azure);
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sum {
  height: 260px;
  margin-top: 10px;
  width: 1000px;
  background:  var(--azure);
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
}


.news {
  margin-top: 10px;
  width: 479px;
  padding: 5px 10px 10px 10px;
  height: 740px;
  background:  var(--azure);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 10px;
  
  
}

.trnd {
  margin-top: 10px;
  width: 479px;
  padding: 5px 10px 10px 10px;
  height: 460px;
  background:  var(--azure);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 10px;
}
.inline {
  display: inline;
}



.article {
  padding: 5px;
  padding-top: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  border-top: #13293d solid 1px;
  border-radius: 0px;
}


.row {
  --bs-gutter-x: 0px
}

.carousel {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}