:root {
    --lightGray: #CACFD6;
    --azure: #D6E5e3;
    --mbGreen: #9fd8cb;
    --dLiver: #475B63;
    --pBlue: #13293d;
}

*{
    border: 2px solid black;
    margin-top: 20px;
    margin-bottom: 10px;
}


/* Stock card */
.stockcard {
    width: 15%;
    background-color: var(--mbGreen);
    border: none;
    color: black;
    border-radius: 8px;
}

.stockcard:hover {

} 

.stockcardlg {
    margin: 3%;
    transform: scale(1.2);
}

.stockcard:nth-child(0) {
    padding: 3px;
    text-align: center;
    font-size: 25px;
    border-radius: 8px;
    background-color: var(--azure);
    border: none;
    height: fit-content;       
}



/* Crypto card */
.cryptocard {
    width: 15%;
    background-color: var(--mbGreen);
    border: none;
    color: black;
    border-radius: 8px;
}

.cryptocard:hover {

}
.cryptocardlg {

    transform: scale(1.2);
}

.cryptocard:nth-child(){
    margin-top: 5px;
    padding: 2px;
    border-radius: 8px;
    height: fit-content;    
    width: 100%;
    text-align: center;
    color:black;
}







#navbar {
    height: fit-content
}




a {
    height: 30px;
}

h3 {
    height: 30px;
}




.searchrlt {
    height: fit-content;
}
img {
    display: inline;
}